@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* .poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
*/

:root{
    --fonte-primaria: "Poppins", sans-serif;
    --fonte-primaria-peso: 600;
    --fonte-secundaria: "Poppins", sans-serif;
    --fonte-secundaria-peso: 400;
    --fonte-terciaria: "Poppins", sans-serif;
    --fonte-terciaria-peso: 500;
    --poppins-bold: 700;
    
}

*{
    padding: 0;
    margin: 0;
}

li{
    text-decoration: none;
  }
  
  a{
    text-decoration: none;
    color: rgb(43, 51, 56);
    transition: color 0.3s ease;
  }

  a:hover{
    color: rgb(121, 115, 115);
  }
  
  .cabecalho{
    padding: 5px;
    font-family: var(--fonte-primaria);
    font-weight: var(--fonte-primaria-peso);
    font-size: 2rem;
    background-color: #ffffff88;
    text-align: center;
    gap: 100px;
  }
  
  .cabecalho__navegacao {
    list-style-type: none;
  }
  
  .cabecalho__navegacao li {
    display: inline-block;
    margin: 0 100px;
  }

  body{
    background-image:url('../img/Nathan+Hui-Yi+Website+Background+Mountains.gif');
    background-repeat: no-repeat; 
    background-size: cover;
  }

  .imagem{
    margin-top: 100px;
    margin-left: 220px;
  }

  .videos__caminhos{
    display: flex;
    gap: 100px;
  }

  iframe{
    margin-top: 100px;
    height: 640px;
    width: 680px;
  }

  
  